# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
flarm_decode
nrf905_demod

# Data files
*.dat

# U MAD?
flarm_codec.h
