# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
flarm_decode
nrf905_demod
sv6x0_demod
ogntp_demod
ogntp_decode

# Data files
*.dat
*.json
*.jsonp
*.log
